<h2>Browse</h2>
<div
  aria-labelledby="table-caption"
  class="table-container"
  role="region"
>
  <table>
    <caption id="table-caption">
      Bulk Apothecary/Natural Essentials receiving log {{dateRange start end}}
      <p>{{count}} records retrieved</p> 
      <nav>
        <ul>
          <li>
            <a
              {{#unless end }}
                class="disabled"
              {{/unless}}
              href="/browse?start={{math end "-" "1"}}&end={{math end "-" "7"}}"  
              rel="noopener noreferrer"
            >
              Previous
            </a>
          </li>
          <li>
            <a
              href=
              "/browse?start={{math start "+" "7"}}&end={{math start "+" "1"}}"
            >
              Next
            </a>
          </li>
        </ul>
      </nav>
    </caption>
    <thead>
      <tr>
        <th scope="col">Item</th>
        <th class="priority-3" scope="col">Vendor</th>
        <th class="priority-5" scope="col">Carrier</th>
        <th class="priority-1" scope="col">PO #</th>
        <th class="priority-5" scope="col">Received</th>
        <th scope="col">Date</th>
        <th class="priority-5" scope="col">Time</th>
        <th class="priority-3" scope="col">Qty</th>
        <th class="priority-4" scope="col">For</th>
        <th class="priority-2" scope="col">NEP #</th>
        <th class="priority-5" scope="col">Vendor #</th>
        <th class="priority-4" scope="col">Lot #</th>
      </tr>
    </thead>
    <tbody>
    {{#each data}}
      <tr
        data-entry="{{_id}}"
        id="{{_id}}-{{@index}}"
        tabindex="0"
      >
        <td>{{item}}</td>
        <td class="priority-3">{{vendor}}</td>
        <td class="priority-5">{{carrier}}</td>
        <td class="priority-1">{{purchaseOrder}}</td>
        <td class="priority-5">{{receivedBy}}</td>
        <td>{{day}}</td>
        <td class="priority-5">{{time}}</td>
        <td class="priority-3">{{qty}}</td>
        <td class="priority-4">{{intendedFor}}</td>
        <td class="priority-2">{{nepNumber}}</td>
        <td class="priority-5">{{vendorLot}}</td>
        <td class="priority-4">{{lot}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
<nav>
  <ul>
    <li>
      <a
        {{#unless end }}
          class="disabled"
        {{/unless}}
        href="/browse?start={{math end "-" "1"}}&end={{math end "-" "7"}}"  
        rel="noopener noreferrer"
      >
        Previous
      </a>
    </li>
    <li>
      <a
        href="/browse?start={{math start "+" "7"}}&end={{math start "+" "1"}}"
      >
        Next
      </a>
    </li>
  </ul>
</nav>

<script defer>
  const table = document.querySelector('div.table-container table');
  const firstRow = document.querySelector('tbody').firstElementChild;

  table.addEventListener('click', function focusRow(event) {
    const { target } = event;
    const row = target.closest('tr');
    row.focus();
  }, false);

  table.addEventListener('keydown', dispatchNavigation, false);
  table.addEventListener('dblclick', handleDblClk, false);

  function dispatchNavigation(event) {
    if (!event) return;
    const { code, srcElement } = event;
    if (code === 'Enter') return navigatePage(srcElement);
    const { nextElementSibling, previousElementSibling } = srcElement;
    const keys = {
      ArrowDown: nextElementSibling,
      ArrowUp: previousElementSibling,
    };
    const siblingElem = keys[code];
    const siblingQualifier = 'tr';
    navigateRow(siblingElem, siblingQualifier);
  }

  function handleDblClk(event) {
    const { srcElement } = event;
    const row = srcElement.closest('tr');
    navigatePage(row);
  }

  function navigateRow(siblingElem, matchElemType) {
    if (!siblingElem) return;
    const { localName = null } = siblingElem;
    if (localName === matchElemType) siblingElem.focus();
  }

  function navigatePage(srcElement) {
    const { dataset } = srcElement;
    const { entry } = dataset;
    if (entry) window.location = `/view/${entry}`;
  }

</script>
