<h2>View</h2>

<div>
  {{#if data}}
    <section class="date-label">
      <button>Back to browse</button>
      <span>Received: {{friendlyDateTime data.date}}</span>
    </section>
    <section class="header-label">
      <span>PO #{{data.purchaseOrder}}</span>
      <span>{{data.vendor}}</span>
    </section>
    <div class="items">
      <h3>Items</h3>
      {{#each data.items}}
        <p>Item: {{item}}</p>
        <p>Quantity: {{quantity.number}} {{quantity.unit}}</p>
        <p>NEP #: {{nepNumber}}</p>
        <p>Vendor Lot/Batch #: {{vendorLot}}</p>
        <p>Our Lot: {{lot}}</p>
      {{/each}}
    </div>
    <section class="footer-details">
      <span>{{data.carrier}}</span>
      <span>Received by: {{data.receivedBy}}</span>
    </section>
  {{/if}}
</div>
