<h2>{{#unless audit}}New Entry{{else}}Audit Entry{{/unless}}</h2>

<div>
  <form
    id="new-items"
    {{#if audit}}
      data-id="{{data._id}}"
      class="audit-update"
    {{/if}}
  >
    <div class="form-row flex-right">
      <div class="form-group">
        <input
          aria-labelledby="date-label"
          id="date"
          max="{{dateNowInput}}"
          min="{{thisYear}}"
          name="date"
          type="date"
          {{#if audit}}
            value="{{friendlyDate data.date}}"
            class="unaltered"
          {{else}}
            value="{{dateNowInput}}"
          {{/if}}
        />
        <label for="date" id="date-label">
          Date<span class="errors"></span>
        </label>
      </div>      
      <div class="form-group">
        <input
          aria-labelledby="time-label"
          id="time"
          name="time"
          type="time"
          {{#if audit}}
            class="unaltered"
            value="{{friendlyTime data.date}}"
          {{else}}
            value="{{timeNowInput}}"
          {{/if}}
        />
        <label for="time" id="time-label">
          Time<span class="errors"></span>
        </label>
      </div>
    </div>
    <div class="form-row flex-split">
      <div class="form-group">
        <input
          aria-labelledby="vendor-label"
          id="vendor"
          maxLength="64"
          name="vendor"
          type="text"
          {{#if audit}}
            class="unaltered"
            value="{{data.vendor}}"
          {{/if}}
        />
        <label for="vendor" id="vendor-label">
          Vendor<span class="errors"></span>
        </label>
      </div>
      <div class="form-group">
        <input
          aria-labelledby="po-label"
          id="po"
          maxLength="64"
          name="po"
          type="text"
          {{#if audit}}
            class="unaltered"
            value="{{data.purchaseOrder}}"
          {{/if}}
        />
        <label for="po" id="po-label">
          Purchase Order<span class="errors"></span>
        </label>
      </div>
      <div class="form-group">
        <input
          aria-labelledby="carrier-label"
          id="carrier"
          maxLength="64"
          name="carrier"
          type="text"
          {{#if audit}}
            class="unaltered"
            value="{{data.carrier}}"
          {{/if}}
        />
        <label for="carrier" id="carrier-label">
          Carrier<span class="errors"></span>
        </label>
      </div>
      <div class="form-group">
        <input
          aria-labelledby="intendedFor-label"
          id="intendedFor"
          maxLength="64"
          name="intendedFor"
          type="text"
          {{#if audit}}
            class="unaltered"
            value="{{data.intendedFor}}"
          {{/if}}
        />
        <label for="intendedFor" id="intendedFor-label">
          Intended For<span class="errors"></span>
        </label>
      </div>
    </div>
    <h3>Items</h3>
    {{#unless audit}}
      <div class="form-row flex-split">
        <div class="form-group form-items">
          <input
            aria-labelledby="item1-label"
            id="item1"
            maxLength="128"
            name="item1"
            type="text"
          />
          <label for="item1" id="item1-label">
            Item<span class="errors"></span>
          </label>
        </div>
        <div class="form-group details">
          <input
            aria-labelledby="nep1-label"
            id="nep1"
            maxlength="64"
            name="nep1"
            type="text"
          />
          <label for="nep1" id="nep1-label">
            MPN #<span class="errors"></span>
          </label>
          <input
            aria-labelledby="vlot1-label"
            id="vlot1"
            maxLength="64"
            name="vlot1"
            type="text"
          />
          <label for="vlot1" id="vlot1-label">
            Vendor Lot/Batch #<span class="errors"></span>
          </label>
        </div>
        <div class="form-group details">
          <input
            aria-labelledby="qty1-label"
            id="qty1"
            max="1000000"
            name="qty1"
            type="number"
          />
          <label for="qty1" id="qty1-label">
            Quantity<span class="errors"></span>
          </label>
          <input
            aria-labelledby="unit1-label"
            id="unit1"
            maxLength="64"
            name="unit1"
            type="text"
          />
          <label for="unit1" id="unit1-label">
            Unit<span class="errors"></span>
          </label>
        </div>
      </div>
      <div class="form-row flex-split">
        <div class="form-group form-items">
          <input
            aria-labelledby="item2-label"
            id="item2"
            maxLength="128"
            name="item2"
            type="text"
          />
          <label for="item2" id="item2-label">
            Item<span class="errors"></span>
          </label>
        </div>
        <div class="form-group details">
          <input
            aria-labelledby="nep2-label"
            id="nep2"
            maxLength="64"
            name="nep2"
            type="text"
          />
          <label for="nep2" id="nep2-label">
            MPN #<span class="errors"></span>
          </label>
          <input
            aria-labelledby="vlot2-label"
            id="vlot2"
            maxLength="64"
            name="vlot2"
            type="text"
          />
          <label for="vlot2" id="vlot2-label">
            Vendor Lot/Batch #<span class="errors"></span>
          </label>
        </div>
        <div class="form-group details">
          <input
            aria-labelledby="qty2-label"
            id="qty2"
            max="1000000"
            name="qty2"
            type="number"
          />
          <label for="qty2" id="qty2-label">
            Quantity<span class="errors"></span>
          </label>
          <input
            aria-labelledby="unit2-label"
            id="unit2"
            maxLength="64"
            name="unit2"
            type="text"
          />
          <label for="unit2" id="unit2-label">
            Unit<span class="errors"></span>
          </label>
        </div>
      </div>
      <div class="form-row flex-split">
        <div class="form-group form-items">
          <input
            aria-labelledby="item3-label"
            id="item3"
            maxLength="128"
            name="item3"
            type="text"
          />
          <label for="item3" id="item3-label">
            Item<span class="errors"></span>
          </label>
        </div>
        <div class="form-group details">
          <input
            aria-labelledby="nep3-label"
            id="nep3"
            maxLength="64"
            name="nep3"
            type="text"
          />
          <label for="nep3" id="nep3-label">
            MPN #<span class="errors"></span>
          </label>
          <input
            aria-labelledby="vlot3-label"
            id="vlot3"
            maxLength="64"
            name="vlot3"
            type="text"
          />
          <label for="vlot3" id="vlot3-label">
            Vendor Lot/Batch #<span class="errors"></span>
          </label>
        </div>
        <div class="form-group details">
          <input
            aria-labelledby="qty3-label"
            id="qty3"
            max="1000000"
            name="qty3"
            type="number"
          />
          <label for="qty3" id="qty3-label">
            Quantity<span class="errors"></span>
          </label>
          <input
            aria-labelledby="unit3-label"
            id="unit3"
            maxLength="64"
            name="unit3"
            type="text"
          />
          <label for="unit3" id="unit3-label">
            Unit<span class="errors"></span>
          </label>
        </div>
      </div>
    {{else}}
      {{#each data.items}}
        <div class="form-row flex-split">
          <div class="form-group form-items">
            <input
              aria-labelledby="item{{@index}}-label"
              data-id="{{_id}}"
              class="unaltered"
              id="item{{@index}}"
              maxLength="128"
              name="item{{@index}}"
              type="text"
              value="{{item}}"
            />
            <label for="item{{@index}}" id="item{{@index}}-label">
              Item<span class="errors"></span>
            </label>
          </div>
          <div class="form-group details">
            <input
              aria-labelledby="nep{{@index}}-label"
              class="unaltered"
              id="nep{{@index}}"
              maxLength="64"
              name="nep{{@index}}"
              type="text"
              value="{{nepNumber}}"
            />
            <label for="nep{{@index}}" id="nep{{@index}}-label">
              MPN #<span class="errors"></span>
            </label>
            <input
              aria-labelledby="vlot{{@index}}-label"
              class="unaltered"
              id="vlot{{@index}}"
              maxLength="64"
              name="vlot{{@index}}"
              type="text"
              value="{{vendorLot}}"
            />
            <label for="vlot{{@index}}" id="vlot{{@index}}-label">
              Vendor Lot/Batch #<span class="errors"></span>
            </label>
          </div>
          <div class="form-group details">
            <input
              aria-labelledby="qty{{@index}}-label"
              class="unaltered"
              id="qty{{@index}}"
              max="1000000"
              name="qty"
              type="number"
              value="{{quantity.number}}"
            />
            <label for="qty{{@index}}" id="qty{{@index}}-label">
              Quantity<span class="errors"></span>
            </label>
            <input
              aria-labelledby="unit{{@index}}-label"
              class="unaltered"
              id="unit{{@index}}"
              maxLength="64"
              name="unit{{@index}}"
              type="text"
              value="{{quantity.unit}}"
            />
            <label for="unit{{@index}}" id="unit{{@index}}-label">
              Unit<span class="errors"></span>
            </label>
          </div>
        </div>
      {{/each}}
    {{/unless}}
    <div class="form-row form-control">
      <div class="button-group">
        <button id="add-items" type="button">Add more items</button>
        <input type="submit" value="Submit" />
      </div>
      <span class="errors"></span>
    </div>
  </form>
</div>
<div id="loader"></div>

<script defer src="/javascripts/new.js"></script>
