<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <link rel="icon" href="/images/ladybug-icon.png" />
    <link rel="manifest" href="/javascripts/pwa.webmanifest" />
    <link rel="apple-touch-icon" href="/images/apple-touch.png" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <meta name="theme-color" content="#bb3e14" />
    <meta name="description" content="{{description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="{{bodyClass}}">
    {{> header }}
    <main role="main" class="{{mainClass}}">
      <div class="page-status"></div>
      {{{ body }}}
    </main>
    {{> footer }}
    {{!-- workaround for chrome bug that fires CSS transitions on load --}}
    <script src="/javascripts/pwa.js"></script>
    <script src="/javascripts/status.js"></script>
  </body>
</html>
